/* app stylesheet */
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #2b542c;
  margin: 20px;
  box-sizing: border-box;
}
.surround {
  height: 100%;
  width: 100%;
}
h1,
h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
.header {
  font-size: 1.5rem;
  margin: 1rem;
}
.header > h1 {
  margin: 10px;
  text-align: center;
}
.header > h1 > a {
  text-decoration: none;
  color: wheat;
}
.board {
  margin: 30px;
  background-color: #0d3349;
  height: 85%;
  width: 95%;
  position: relative;
}
.board > h3 {
  display: inline-block;
  position: absolute;
}
.board .player-title {
  left: 20%;
  color: #0b97c4;
}
.board .computer-title {
  left: 60%;
  color: #0b97c4;
}
.board .piece-enabled {
  opacity: 0.9;
}
.board .piece-disabled {
  opacity: 0.1;
}
.board .piece-content {
  background-color: #fff;
  color: #0d3349;
  margin: 5px 20px 20px 20px;
}
.board .piece-content > img {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.board .player-rock {
  background-color: #fff;
  height: 15%;
  width: 15%;
  display: inline;
  position: absolute;
  border-color: darkolivegreen;
  border-width: 2px;
  border-radius: 10px;
  padding: 15px;
  left: 20%;
  top: 15%;
}
.board .player-paper {
  background-color: #fff;
  height: 15%;
  width: 15%;
  display: inline;
  position: absolute;
  border-color: darkolivegreen;
  border-width: 2px;
  border-radius: 10px;
  padding: 15px;
  left: 20%;
  top: 35%;
}
.board .player-scissors {
  background-color: #fff;
  height: 15%;
  width: 15%;
  display: inline;
  position: absolute;
  border-color: darkolivegreen;
  border-width: 2px;
  border-radius: 10px;
  padding: 15px;
  left: 20%;
  top: 55%;
}
.board .computer-rock {
  background-color: #fff;
  height: 15%;
  width: 15%;
  display: inline;
  position: absolute;
  border-color: darkolivegreen;
  border-width: 2px;
  border-radius: 10px;
  padding: 15px;
  left: 60%;
  top: 15%;
}
.board .computer-paper {
  background-color: #fff;
  height: 15%;
  width: 15%;
  display: inline;
  position: absolute;
  border-color: darkolivegreen;
  border-width: 2px;
  border-radius: 10px;
  padding: 15px;
  left: 60%;
  top: 35%;
}
.board .computer-scissors {
  background-color: #fff;
  height: 15%;
  width: 15%;
  display: inline;
  position: absolute;
  border-color: darkolivegreen;
  border-width: 2px;
  border-radius: 10px;
  padding: 15px;
  left: 60%;
  top: 55%;
}
.board .divider {
  left: 47.5%;
  top: 15%;
  background-color: #8f8f8f;
  position: absolute;
  display: inline;
  width: 2%;
  height: 59%;
}
.board .scores-section {
  margin: 40px 20px 20px 20px;
  position: absolute;
  top: 75%;
  color: whitesmoke;
}
.board .info-panel {
  position: absolute;
  left: 39%;
  top: 38.5%;
  width: 20%;
  height: 12%;
  background-color: #5e5e5e;
  color: lightgrey;
  text-align: center;
  font-size: 0.9rem;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}
.board .info-panel .info-panel-content {
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}
.board .instructions {
  color: lightgoldenrodyellow;
  width: 17%;
  text-align: justify;
  text-wrap: normal;
  top: 15%;
  opacity: 0.6;
  font-size: 0.9rem;
  position: absolute;
  left: 10px;
  border-color: green;
  border-width: 1px;
  border-radius: 10px;
}
